.popup__error {
  padding: 0;
  margin: 0;
  display: block;
  line-height: 15px;
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  margin-top: 5px;
  min-height: 30px;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .popup__error {
    margin-left: 22px;
  }
}
