.profile__edit-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  background-image: url("../../../images/edit-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  background-size: 10px;
  box-sizing: border-box;
  transition: opacity 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}