.auth__submit {
  margin-top: 30%;
  padding: 14px 84px;
  text-align: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.auth__submit:hover {
  opacity: 0.8;
}
