.element {
  margin: 0;
  padding: 0;
  min-height: 361px;
  max-width: 282px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}